@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Urbanist:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Inter:wght@100&family=Urbanist:wght@100&display=swap');
/* font-family: 'Archivo', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Urbanist', sans-serif; */


body {
    margin: 0;
    font-family: 'Archivo', sans-serif;
}

body::-webkit-scrollbar {
    /* background-image: url("https://www.hbomax.com/static/wef/img/bg-gradient.jpg"); */
    background-color: rgba(0,0,0,.4);
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(3,3,40,.8);
    border-radius: 15px;
}

.barraNavegacion {
    font-size: large;
    font-weight: bold;
    background-color: rgba(0,0,0,.2);
}

.dropdownMenu {
    background: none !important;
    border: none !important;
    font-weight: bold !important;
    font-size: larger;
    margin-top: 4px;
    color: #000000 !important;
}

.inputLogIn {
    background-color: #000000;
    color: #fff;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-right: 5px;
    transition: 0.8s;
}

.inputLogIn:hover {
    background-color: #fff;
    color: #000000;
}

.inputSignIn {
    background-color: #000000;
    color: #fff;
    border: 1px solid #000000;
    border-radius: 10px;
    transition: 0.8s;
}

.inputSignIn:hover {
    background-color: #fff;
    color: #000000;
}

.img-carousel {
    width: 100%;
    height: 650px;
}

.caption-carousel {
    font-size: 500%;
    font-weight: bolder;
}

.capa {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    height: min-content;
}

.capa::-webkit-scrollbar {
    background-color: rgba(0,0,0,.3);
    width: 0px;
    height: 15px;
}
  
.capa::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,1);
    border-radius: 15px;
}

.image-container {
    position: relative;
    width: 170px;
    height: 350px;
    padding-right: 0px;
    padding-left: 0px;
    cursor: pointer;
}

.pieDePagina {
    background-color: rgba(0,0,0,.8);
    padding-left: 15%;
    padding-right: 15%;
}

@media (max-width: 768px) { 
    .img-carousel {
        height: 100%;
    }
}